apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: trained-models-pvc
  namespace: flex
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: manual  # Binds to PV with hostPath

